.search-bar{
    position: absolute;
    top: 391px;
    padding: 10px;
    width: 100%;
}
.search-bar .container form{
    background: #febb02;
    padding: 10px;
}
.search-bar form input {
    width: 100%;
    background: #fff;
    padding: 7px 10px;
    outline: 0;
    border: 0px;
    border-radius: 3px;
}
.search-bar form button{
    width: 100%;
    padding: 7px 10px;
    border: 0px;
    border-radius: 3px;
    background-color: var(--red-color);
    color: #fff;
    transition: .3s;
}
.search-bar form button:hover{
    background-color: var(--low-color);
}
@media screen and (max-width:991px) {
    .search-bar{
        top: 391px;
    }
}
@media screen and (max-width:365px) {
    .search-bar .container{
        padding-right: 0;
        padding-left: 0;
    }
}