.search-hotels{
    height: calc(100vh - 79px);
}
.con-hotels{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.con-hotels img{
    width: 400px;
    height: 400px;
}