*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif, monospace, serif;
  scroll-behavior: smooth;
}
:root{
  --red-color : #FF385C;
  --low-color:#ea1b40;
  --gray-color:#778697;
  --link-color:#495e74;
}